# pgAdmin Configuration
ADMIN_EMAIL=       # The email address used to log in to pgAdmin
ADMIN_PASSWORD=    # The password used to log in to pgAdmin

# Database Configuration
SOFTWARE_PASSWORD= # The password for the PostgreSQL 'postgres' user
DATABASE_URL=      # database url for postgreSQL